<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="FatDB_SQL_Sample.Properties.Settings.FatDB_SQL_SampleConnectionString"
      connectionString="Data Source=JRWMBP\SQLEXPRESS;Initial Catalog=FatDB_SQL_Sample;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>